.wrapper {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.wrapper nav {
  grid-column: 1 / span 6;
}

.holdings-chart {
  grid-column: 1 / span 3;
}

.balance-list {
  grid-column: 4 / span 3;
}

.year-progress {
  grid-column: 1 / span 2;
}

.season-progress {
  grid-column: 3 / span 2;
}

.month-progress {
  grid-column: 5 / span 2;
}

.account-list li {
  display: flex;
  justify-content: space-between;
}

.progress-text {
  display: flex;
  justify-content: space-between;
}
