@(accounts: Seq[model.AccountAndTransactions])

@frame(title = "Accounts") {
  @for((account, i) <- accounts.zipWithIndex) {
    <div class="card account-chart">
      <div class="card-header">@account.account.name</div>
      <div class="card-body">
        <canvas id="chart"
        width="200" height="200"
        data-labels="[@account.dateBalances.map(_.date).mkString("\"", "\",\"", "\"")]"
        data-balances="[@account.dateBalances.map(_.amount.pounds).mkString(", ")]">
        </canvas>
      </div>
    </div>
  }

  <script src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
  <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
  <script src="@routes.Assets.at("lib/chartjs/Chart.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/balance-history.js")"></script>
}
