@(a: model.AccountAndTransactions)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Account: @a.account.name</title>
        <link href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")" rel="stylesheet">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/Chart.bundle.js")"></script>
    </head>
    <body>
        <table>
            <tr>
                <td>Name</td>
                <td>Original</td>
            </tr>
            <tr>
                <td>@a.account.name</td>
                <td>@a.account.originalBalance</td>
            </tr>
        </table>

        <div class="row">
            <div class="col-md-1">a</div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-1">z</div>
        </div>

        <script type="text/javascript">
                var ctx = document.getElementById('chart');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [@Html(a.dateBalances.map(_.date).mkString("'","', '","'"))],
                        datasets: [
                            {
                                label: 'Balance',
                                data: [@a.dateBalances.map(_.amount.pounds).mkString(", ")]
                            }
                        ]
                    },
                    options: {
                        steppedLine: true
                    }
                });
        </script>

    </body>
</html>
