@import java.time.LocalDate
@import java.time.LocalDate.now
@import java.time.format.{DateTimeFormatter, FormatStyle}
@import cats.Monoid.combineAll
@import model._
@(dateAmounts: Seq[DateAmount], accounts: Seq[AccountAndTransactions])

@formattedDate(date: LocalDate) = @{
  date.format(DateTimeFormatter.ofLocalizedDate(FormatStyle.LONG))
}

@balance(date: LocalDate) = @{
  dateAmounts.find(_.date == date).get.amount
}

@gainSince(date: LocalDate) = @{
  balance(now).minus(balance(date))
}

@upOrDownSince(date: LocalDate) = {
  @if(gainSince(date).isPos) {
    <span class="oi oi-arrow-thick-top" title="icon name" aria-hidden="true"></span>
  } else {
    <span class="oi oi-arrow-thick-bottom" title="icon name" aria-hidden="true"></span>
  }
}

@progressSince(date: LocalDate) = {
  <div class="card-text progress-text">
    <span>@formattedDate(date)</span>
    <span>@balance(date).formatted</span>
    <span>
      @upOrDownSince(date)
      @gainSince(date).abs.formatted
    </span>
  </div>
}

@progressCardClass(date: LocalDate) = @{
  if(gainSince(date).isPos) {
    "card text-white bg-success"
  } else {
    "card text-white bg-danger"
  }
}

@frame("Dashboard") {
  <div class="card holdings-chart">
    <div class="card-header">Total holdings</div>
    <div class="card-body">
      <canvas id="chart"
      data-labels='[@dateAmounts.map(_.date).mkString("\"", "\",\"", "\"")]'
      data-balances="[@dateAmounts.map(_.amount.pounds).mkString(", ")]"></canvas>
    </div>
  </div>
  <div class="card balance-list">
    <div class="card-header">Latest balances</div>
    <div class="card-body">
      <ul class="list-group list-group-flush account-list">
        @for(account <- accounts) {
          <li class="list-group-item">
            <span>@account.account.name (as of @formattedDate(account.latestTransaction.date))</span>
            <span>@account.balance.formatted</span>
          </li>
        }
      </ul>
    </div>
    <div class="card-footer">
      <div class="grand-total">
        <span>TOTAL</span>
        <span>@{combineAll(accounts.map(_.balance)).formatted}</span>
      </div>
    </div>
  </div>
  <div class="@progressCardClass(now.minusYears(1)) year-progress">
    <div class="card-header">Year</div>
    <div class="card-body">@progressSince(now.minusYears(1))</div>
  </div>
  <div class="@progressCardClass(now.minusMonths(3)) season-progress">
    <div class="card-header">Season</div>
    <div class="card-body">@progressSince(now.minusMonths(3))</div>
  </div>
  <div class="@progressCardClass(now.minusMonths(1)) month-progress">
    <div class="card-header">Month</div>
    <div class="card-body">@progressSince(now.minusMonths(1))</div>
  </div>
  <script src="@routes.Assets.at("lib/chartjs/Chart.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/balance-history.js")"></script>
}
