@(title: String, highlightedNavItem: String)(content: Html)

@navClass(item: String) = {
    @if(item == highlightedNavItem) { class="active"} else {}
}

@nav(item: String, call: Call) = {
    <li@navClass(item)><a href="@call">@item</a></li>
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>@title</title>

        <link href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/dashboard.css")" rel="stylesheet">
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@controllers.routes.DashboardController.view()">Toil</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        @nav("Overview", controllers.routes.DashboardController.view())
                    </ul>
                    <ul class="nav nav-sidebar">
                        @nav("Accounts", controllers.routes.AccountController.viewAccounts())
                    </ul>
                    <ul class="nav nav-sidebar">
                        @nav("Transactions", controllers.routes.TransactionController.viewTransactions())
                        @nav("Import", controllers.routes.TransactionController.viewImportTransactions())
                        @nav("Add", controllers.routes.TransactionController.viewAddTransaction())
                        @nav("Surplus", controllers.routes.SurplusController.viewSurplus())
                    </ul>
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">@title</h1>
                    @content
                </div>

            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")"></script>

    </body>
</html>
