@(surpluses: model.Surpluses)

@chart(title: String, labels: Seq[String], figures: Seq[model.SurplusFigures]) = {
  <div class="panel panel-default">
    <div class="panel-heading">@title</div>
    <div class="panel-body">
      <canvas id="monthly-chart"
        width="200" height="200"
        data-labels="[@labels.mkString("\"", "\",\"", "\"")]"
        data-surplus="[@figures.map(_.surplus.pounds).mkString(",")]"
        data-income="[@figures.map(_.income.pounds).mkString(",")]"
        data-spend="[@figures.map(_.totalSpend.pounds).mkString(",")]"
      </canvas>
    </div>
  </div>
}

@frame(title = "Surplus", highlightedNavItem = "Surplus") {

  @chart("Monthly", surpluses.monthly.map(_.yearMonth.getMonth.toString), surpluses.monthly.map(_.figures))

  @chart("Seasonal", surpluses.seasonal.map(_.yearSeason.toString), surpluses.seasonal.map(_.figures))

  <script type="text/javascript" src="@routes.Assets.at("javascripts/Chart.bundle.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/surplus.js")"></script>
}
