@import model.MonthSurplus
@(surpluses: Seq[MonthSurplus])

@colour(posColour: String, negColour: String) = {[
  @Html(surpluses.map(s => {
    if (s.surplus.isPos) s"'$posColour'"
    else s"'$negColour'"
  }).mkString(", "))
]}

@backgroundColour = {@colour("#32cd32", "#ff4500")}

@borderColour = {@colour("#006400", "#8b0000")}

@frame(title = "Surplus", highlightedNavItem = "Surplus") {

  <div class="panel panel-default">
    <div class="panel-body">
      <canvas id="chart" width="200" height="200"></canvas>
    </div>
  </div>

  <script type="text/javascript" src="@routes.Assets.at("javascripts/Chart.bundle.js")"></script>
  <script type="text/javascript">
    new Chart(document.getElementById("chart"), {
      type: 'bar',
      data: {
        labels: [@Html(surpluses.map(_.month).mkString("'", "', '", "'"))],
        datasets: [
          {
            type: 'line',
            data: [@surpluses.map(_.surplus.pounds).mkString(", ")],
            fill: false,
            borderColor: '#000000',
            borderWidth: 4
          },
          {
            data: [@surpluses.map(_.income.pounds).mkString(", ")],
            backgroundColor: @backgroundColour,
            borderColor: @borderColour,
            borderWidth: 3
          },
          {
            data: [@surpluses.map(_.spend.neg.pounds).mkString(", ")],
            backgroundColor: @backgroundColour,
            borderColor: @borderColour,
            borderWidth: 3
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Monthly'
        },
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            stacked: true
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true
            },
            scaleLabel: {
              display: true,
              labelString: 'pounds'
            }
          }]
        }
      }
    });
  </script>
}
