@import model.Transaction
@(
        income: Seq[Transaction],
        spend: Seq[Transaction],
        transfers: Seq[Transaction],
        repayments: Seq[Transaction],
        refunds: Seq[Transaction]
)

@figures(ts: Seq[Transaction]) = {
    <table>
        <tr>
            <td>Account</td>
            <td>Date</td>
            <td>Payee</td>
            <td>Reference</td>
            <td>Mode</td>
            <td>Amount</td>
        </tr>
        @for(tx <- ts) {
            <tr>
                <td>@tx.account</td>
                <td>@tx.date</td>
                <td>@tx.payee</td>
                <td>@tx.reference</td>
                <td>@tx.mode</td>
                <td>@tx.amount.formatted</td>
            </tr>
        }
    </table>
}

<html>
    <head></head>
    <body>
        <p>I</p>
        @figures(income)
        <p>S</p>
        @figures(spend)
        <p>T</p>
        @figures(transfers)
        <p>R</p>
        @figures(repayments)
        <p>B</p>
        @figures(refunds)
    </body>
</html>
