@(transactions: Seq[model.Transaction])

    @frame(title = "Transactions", highlightedNavItem = "Transactions") {
        <table>
            <tr>
                <td>Account</td>
                <td>Date</td>
                <td>Payee</td>
                <td>Reference</td>
                <td>Mode</td>
                <td>Amount</td>
            </tr>
            @for(tx <- transactions) {
                <tr>
                    <td>@tx.account</td>
                    <td>@tx.date</td>
                    <td>@tx.payee</td>
                    <td>@tx.reference</td>
                    <td>@tx.mode</td>
                    <td>@tx.amount.formatted</td>
                    <td>@tx.category</td>
                </tr>
            }
        </table>
    }
